* {
  text-align: center;
  color: white;
  background-color: black;
}

.top {
  margin: 50px 0 30px;
}

#directions {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  color: rgb(249, 87, 0);
  height: 40px;
}

#buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#buttons button {
  width: 70px;
  font-size: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border-color: white;
  margin: 20px 0;
}
